#all-about-me {
    color: blue;
    font-size: 40px;
    border-style: dashed;
    background-color: brown;
}

.text {
    color: darkblue;
    background-color: pink;
 
}
.copy-right{
    color:black;
    height:100px;
    border-style: dotted;
    background-color:purple;
}
body{
    
    background-color: darkgreen;
}
section{
   font-size: 40px;
   color:darkblue;


}